<%= simple_form_for(@persona) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <div class="form-inputs">
        <%= f.association :tipo_de_persona, label_method: "#{:descripcion}", prompt: "Seleccione un tipo de persona" %>
        </div>
      </div>
      <div class="field">
        <div class="form-inputs">
          <%= f.input :nombre %>
        </div>
      </div>
      <div class="field">
        <div class="form-inputs">
          <%= f.input :apellido %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <div class="form-inputs">
          <%= f.input :telefono %>
        </div>
      </div>
        <div class="field">
        <div class="form-inputs">
          <%= f.input :cedula_identidad %>
        </div>
      </div>
        <div class="field">
        <div class="form-inputs">
          <%= f.input :direccion %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <div class="form-inputs">
        <%= f.association :categoria, label_method: "#{:descripcion}", prompt: "Seleccione una categoria" %>
        </div>
      </div>
      <div class="field">
        <div class="form-inputs">
          <%= f.association :pais, label_method: "#{:descripcion}", prompt: "Seleccione un pais" %>
        </div>
      </div>
      <div class="field">
        <div class="form-inputs">
          <%= f.association :departamento, label_method: "#{:descripcion}", prompt: "Seleccione un departamento" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <div class="form-inputs">
          <%= f.association :ciudad, label_method: "#{:descripcion}", prompt: "Seleccione una ciudad" %>
       </div>
      <div class="field">
        <div class="form-inputs">
         <%= f.input :fecha_de_nacimiento %>
        </div>
      </div>
      <div class="field">
        <div class="form-inputs">
          <%= f.input :correo %>
        </div>
      </div>
    </div>
  </div>
</br>
  <div class="col-md-offset-10">
    <div class="actions">
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
      <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
    </div>
  </div>
<% end %>
