<%= simple_form_for @persona, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-3">
    <div class="field">
        <%= f.label :tipo_de_persona_id %>
        <%= f.collection_select :tipo_de_persona_id, TipodePersona.all, :id, :descripcion, {prompt: "Seleccione un tipo de persona"}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= f.label :nombre %>
        <%= f.text_field :nombre , class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :apellido %>
        <%= f.text_field :apellido , class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :telefono %>
        <%= f.text_field :telefono , class: "form-control" %>
      </div>
        <div class="field">
        <%= f.label :cedula_identidad %>
        <%= f.text_field :cedula_identidad , class: "form-control" %>
      </div>
        <div class="field">
        <%= f.label :direccion %>
        <%= f.text_field :direccion , class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :pais_id %>
        <%= f.collection_select :pais_id, Pais.all, :id, :descripcion, {prompt: "Seleccione un pais"}, {class: "form-control"} %>
      </div>
      <div class="field">
            <%= f.label :departamento_id %>
            <%= f.collection_select :departamento_id, Departamento.all, :id, :nombre, {prompt: "Seleccione un departamento"}, {class: "form-control"} %>
          </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :ciudad_id %>
        </br>
        <%= f.collection_select :ciudad_id, Ciudad.all, :id, :nombre, {prompt: "Seleccione una Ciudad"}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= f.label :fecha_de_nacimiento %><br>  
          <div class="input-group">           
            <%= f.text_field :fecha_de_nacimiento, :class => 'datepicker form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div> 
      <div class="field">
        <%= f.label :correo %>
        <%= f.text_field :correo , class: "form-control" %>
      </div>
    </div>
  </div>
</br>
  <div class="col-md-offset-10">
    <div class="actions">
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
      <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
    </div>
  </div>
<% end %>
