<% remote ||= false %>
<%= form_for @persona, remote: remote , validate: true do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <label for="persona_tipo_de_persona_id" class="required"> Tipo de persona
          <%= link_to new_tipo_de_persona_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :tipo_de_persona_id,
          options_from_collection_for_select(TipoDePersona.all, :id, :descripcion, @persona.tipo_de_persona_id),
          {prompt: true}, id: "persona_tipo_de_persona_id", include_blank: true, class: "form-control"%>
      </div>
      <div class="field">
        <%= f.label :nombre, class: 'required' %>
        <%= f.text_field :nombre , class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :apellido, class: 'required' %>
        <%= f.text_field :apellido , class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :telefono, class: 'required' %>
        <%= f.text_field :telefono , class: "form-control" %>
      </div>
        <div class="field">
        <%= f.label :cedula_identidad, class: 'required' %>
        <%= f.text_field :cedula_identidad , class: "form-control" %>
      </div>
        <div class="field">
        <%= f.label :direccion, class: 'required' %>
        <%= f.text_field :direccion , class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <label for="persona_pais_id" class="required">Pais
          <%= link_to new_pais_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :pais_id,
          options_from_collection_for_select(Pais.all, :id, :nombre, @persona.pais_id),
          {prompt: true}, id: "persona_pais_id", include_blank: true, class: "form-control"%>
      </div>
      <div class="field">
        <label for="persona_departamento_id" class="required">Departamento
          <%= link_to new_departamento_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :departamento_id,
          options_from_collection_for_select(Departamento.all, :id, :nombre, @persona.departamento_id),
          {prompt: true}, id: "persona_departamento_id", include_blank: true, class: "form-control"%>
      </div>
      <div class="field">
        <label for="persona_ciudad_id" class="required">Ciudad
          <%= link_to new_ciudad_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :ciudad_id,
          options_from_collection_for_select(Ciudad.all, :id, :nombre, @persona.ciudad_id),
          {prompt: true}, id: "persona_ciudad_id", include_blank: true, class: "form-control"%>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :fecha_de_nacimiento %><br>
          <div class="input-group">
            <%= f.text_field :fecha_de_nacimiento, :class => 'datepicker form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
      <div class="field">
        <%= f.label :correo %>
        <%= f.text_field :correo , class: "form-control" %>
      </div>
    </div>
  </div>
</br>
<div class="col-md-offset-10">
  <div class="actions">
   <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
</div>
<% end %>
<div id="modal_tipo_de_persona"></div>
<div id="modal_pais"></div>
<div id="modal_departamento"></div>
<div id="modal_ciudad"></div>
<div class="separador"></div>
