$("#modal_persona .modal").modal("hide");
$("#caja_persona_id").append("<option value='<%= @persona.id %>'><%= @persona.nombre %> <%= @persona.apellido %></option>");
$("#firmantes_persona_id").append("<option value='<%= @persona.id %>'><%= @persona.nombre %> <%= @persona.apellido %></option>");
$("#cheque_entrante_persona_id").append("<option value='<%= @persona.id %>'><%= @persona.nombre %> <%= @persona.apellido %></option>");