<%= form_for([@boleta_de_deposito_detalle.boleta_de_deposito, @boleta_de_deposito_detalle]) do |f| %>
<% if @boleta_de_deposito_detalle.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@boleta_de_deposito_detalle.errors.count, "error") %> prohibited this boleta_de_deposito_detalle from being saved:</h2>
    <ul>
    <% @boleta_de_deposito_detalle.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div class="form-inputs">
    <div class="field">
      <%= f.label :boleta_de_deposito_id %>
      <%= f.text_field :boleta_de_deposito_id, disabled: true%>
      <%= f.label :cheque_entrante_id %>
      <%= f.text_field :cheque_entrante_id %>
      <%= f.label :monto_efectivo %>
      <%= f.text_field :monto_efectivo %>
      <%= f.label :monto_cheque %>
      <%= f.text_field :monto_cheque %>
      <%= f.label :total %>
      <%= f.text_field :total %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
