<h1>Listing cuentas</h1>

<table>
  <thead>
    <tr>
      <th>Numero cuenta contable</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuentas.each do |cuenta| %>
      <tr>
        <td><%= cuenta.numero_cuenta_contable %></td>
        <td><%= cuenta.descripcion %></td>
        <td><%= link_to 'Show', cuenta %></td>
        <td><%= link_to 'Edit', edit_cuenta_path(cuenta) %></td>
        <td><%= link_to 'Destroy', cuenta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuenta', new_cuenta_path %>
