<%= form_for @tipo_de_persona, validate: true do |f| %>
  <% if @tipo_de_persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_de_persona.errors.count, "error") %> prohibited this tipo_de_persona from being saved:</h2>

      <ul>
      <% @tipo_de_persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :descripcion %>
        <%= f.text_field :descripcion , autofocus:true , :class => 'form-control' %>
      </div>
    </div>
  </div>
</br>
  <div class="col-md-offset-10">
      <div class="actions">
        <% if controller.action_name == 'new' or controller.action_name == 'index' %>
          <%= f.submit "Agregar", class: 'btn btn-primary'%>
          
        <% elsif controller.action_name == 'edit' %>
          <%= f.submit "Actualizar", class: 'btn btn-primary'%>
        <% end %>
        <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar', class: 'btn btn-reset'%>
      </div>
    </div>
<% end %>
