<%= form_for(@tipo_de_persona) do |f| %>
  <% if @tipo_de_persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_de_persona.errors.count, "error") %> prohibited this tipo_de_persona from being saved:</h2>

      <ul>
      <% @tipo_de_persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
