<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="field">
          <strong>Numero:</strong>
          <%= @boleta_de_deposito.numero %>
        </div>
        <div class="field">
          <strong>Banco:</strong>
          <%= @boleta_de_deposito.banco.banco_sucursal %>
        </div>
        <div class="field">
          <strong>Total:</strong>
          <%= @boleta_de_deposito.total %>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="field">
          <strong>Persona:</strong>
          <%= @boleta_de_deposito.persona.nombre_apellido %>
        </div>
        <div class="field">
          <strong>Cuenta bancaria:</strong>
          <%= @boleta_de_deposito.cuenta_bancaria.numero_cuenta %>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="field">
          <strong>Caja:</strong>
          <%= @boleta_de_deposito.caja_id %>
        </div>
        <div class="field">
          <strong>Fecha:</strong>
          <%= @boleta_de_deposito.fecha %>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="field">
          <%= link_to 'Editar', edit_boleta_de_deposito_path(@boleta_de_deposito), class: 'btn btn-warning' %>
          <%= link_to 'Atras', boletas_de_depositos_path, class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
</div>




<table id="table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cheque entrante</th>
      <th>Monto efectivo</th>
      <th>Monto cheque</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boletas_de_depositos_detalles.each do |boleta_de_deposito_detalle| %>
    <% if @boleta_de_deposito.id == boleta_de_deposito_detalle.boleta_de_deposito_id %>
      <tr>
        <td><%= boleta_de_deposito_detalle.cheque_entrante_id %></td>
        <td><%= boleta_de_deposito_detalle.monto_efectivo %></td>
        <td><%= boleta_de_deposito_detalle.monto_cheque %></td>
        <td><%= boleta_de_deposito_detalle.total %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
