<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @departamento.descripcion %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @departamento.pais %>
</p>

<%= link_to 'Edit', edit_departamento_path(@departamento) %> |
<%= link_to 'Back', departamentos_path %>
