<%= form_for([@movimiento_de_caja_detalle.movimiento_de_caja, @movimiento_de_caja_detalle]) do |f| %>

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :movimiento_de_caja_id %>
        <%= f.text_field :movimiento_de_caja_id, disabled: true, class: 'form-control'%>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :cheque_propio_id %>
        <%= f.collection_select :cheque_propio_id, ChequePropio.all, :id, :numero_cheque, {prompt: "Seleccione un Cheque Propio"}, {class: "form-control"} %>
      </div>
       <div class="field">
          <label for="movimientos_de_cajas_detalles_cheque_entrante_id">Cheque entrante
            <%= link_to new_cheque_entrante_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </label>
          </br>
          <%= f.select :cheque_entrante_id,
          options_from_collection_for_select(ChequeEntrante.all, :id, :numero, @movimientos_de_cajas_detalles.cheque_entrante_id),
          {prompt: true}, id: "movimientos_de_cajas_detalles_cheque_entrante_id", include_blank: true, class: "form-control"%>
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :monto_cheque %>
        <%= f.text_field :monto_cheque, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :monto_efectivo %>
        <%= f.text_field :monto_efectivo, class: 'form-control' %>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-offset-10">
    <div class="actions">
     <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
<% end %>
