<%= form_for @user , validate: true do |f| %>
    <div class="field">
      <label for="user_username" class="required">Nombre de Usuario</label><br />
        <%= f.text_field :username , :autofocus=>true, class: 'form-control'%>
    </div>
    <div class="field">
      <label for="user_persona_id" class="required"> Persona
        <%= link_to new_persona_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </label>
      </br>
      <%= f.select :persona_id,
          options_from_collection_for_select(Persona.all, :id, :nombre_apellido, @user.persona_id),
          {prompt: true}, id: "user_persona_id", include_blank: true, class: "form-control"%>
    </div>
    <div class="field">
      <%= f.label :email, class: 'required' %><br />
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="field">
      <label for="user_password">Contraseña</label><br />
        <% if @validatable %>
          <i>(<%= @minimum_password_length %> caracteres minimo)</i>
        <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>
    <div class="field">
      <label for="user_password_confirmation">Confirmar Contraseña</label><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
    <br>
    <div class="col-md-offset-10">
      <div class="actions">
        <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
        <% if controller.action_name == 'new' or controller.action_name == 'index' %>
          <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        <% elsif controller.action_name == 'edit' %>
          <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
<% end %>
<div class="separador"></div>
<div id="modal_persona"></div>

<script type="text/javascript">
  $(document).ready(function() {
      $('.datepicker').datetimepicker({
      locale:'es'
    });
  });
    //Cuando se abra un modal activa la las validaciones del lado del cliente
  $('#modal_persona ').on('shown.bs.modal', function () {
      $('#new_persona').enableClientSideValidations();
  })
</script>
