<%= form_for @ciudad, validate: true do |f| %>
	<% if @ciudad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ciudad.errors.count, "error") %> prohibited this ciudad from being saved:</h2>
      <ul>
      <% @ciudad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row">
		<div class="col-md-4">
			<div class="field">
		        <%= f.label :descripcion %>
		        <%= f.text_field :descripcion , autofocus:true , :class => 'form-control' %>
	      	</div>
		</div>
		<div class="col-md-4">
			<div class="field">
		        <%= f.label :codigo_postal %>
		        <%= f.text_field :codigo_postal , :class => 'form-control' %>
	      	</div>
		</div>
		<div class="col-md-4">
			<div class="field">
		        <%= f.label :departamento_id %>
		        <%= f.collection_select :departamento_id, Departamento.all, :id, :nombre, {prompt: "Seleccione un departamento"}, {class: "form-control"} %>
	      	</div>
		</div>
	</div>
	</br>
	<div class="col-md-offset-10">
			<div class="actions">
				<% if controller.action_name == 'new' or controller.action_name == 'index' %>
					<%= f.submit "Agregar", class: 'btn btn-primary'%>
					
				<% elsif controller.action_name == 'edit' %>
					<%= f.submit "Actualizar", class: 'btn btn-primary'%>
				<% end %>
				<%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar', class: 'btn btn-reset'%>
			</div>
		</div>
<% end %>
