<%= simple_form_for @banco, validate: true do |f| %>
<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.input :nombre, :input_html => {class: "form-control"} , autofocus: true %>
    </div>
    <div class="field">
      <%= f.input :sucursal, :input_html => {class: "form-control"} %>
    </div>
    <div class="field">
      <%= f.input :direccion, :input_html => {class: "form-control"} %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field">
      <label for="bancos_pais">* Pais  
        <%= link_to "#modal-pais", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </label>
      </br>
        <%= f.association :pais, label_method: "#{:descripcion}", prompt: "Seleciona un Pais", label: false %>
    </div>
    <div class="field">
      <label for="bancos_departamento">* Departamento  
        <%= link_to "#modal-departamento", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </label>
      </br>
      <%= f.association :departamento, label_method: "#{:descripcion}", prompt: "Seleciona un Departamento", label: false %>
    </div>
    <div class="field">
      <label for="bancos_ciudad">* Ciudad  
          <%= link_to "#modal-ciudad", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
      </label>
      </br>
      <%= f.association :ciudad, label_method: "#{:descripcion}", prompt: "Seleciona una Ciudad", label: false %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field">
      <%= f.input :telefono, :input_html => {class: "form-control"} %>
    </div>
    <div class="field">
			<%= f.input :correo, :input_html => {class: "form-control"}%>	  
		</div>
	</div>
</div>
</br>
	<div class="col-md-offset-10">
		<div class="actions">
			<% if controller.action_name == 'new' or controller.action_name == 'index' %>
				<%= f.submit "Agregar", :class => 'btn btn-primary'%>
				
			<% elsif controller.action_name == 'edit' %>
				<%= f.submit "Actualizar", :class => 'btn btn-primary'%>
			<% end %>
			<%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
		</div>
	</div>
<% end %>

<%= render 'bancos/modals/pais' %>
<%= render 'bancos/modals/departamento' %>
<%= render 'bancos/modals/ciudad' %>