<%= form_for @banco , :validate => true do |f| %>
  <% if @banco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banco.errors.count, "error") %> prohibited this banco from being saved:</h2>
      <ul>
      <% @banco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :nombre , class: 'required'  %>
        <%= f.text_field :nombre , autofocus:true , class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :sucursal , class: 'required' %>
        <%= f.text_field :sucursal , class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :direccion , class: 'required' %>
        <%= f.text_field :direccion , autofocus:true , :class => 'form-control' %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :pais_id, class: "required" %>

      <%= f.select :pais_id, 
          options_from_collection_for_select(Pais.all, :id, :nombre, @banco.pais_id),
          {prompt: true}, id: "select2", include_blank: true, class: "form-control"%>

      </div>
      <div class="field">
        <%= f.label :departamento_id , class: 'required' %>
        <%= f.select :departamento_id, 
                options_from_collection_for_select(Departamento.all, :id, :nombre, @banco.departamento_id),
                {prompt: true}, id: "select2", class: "form-control"%>
      </div>
      <div class="field">
        <%= f.label :ciudad_id , class: 'required'%>
        <%= f.select :ciudad_id, 
          options_from_collection_for_select(Ciudad.all, :id, :nombre, @banco.ciudad_id),
          {prompt: true}, id: "select2", class: "form-control"%>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :telefono , class: 'required'%>
        <%= f.text_field :telefono , autofocus:true , :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :correo , class: 'required'%>
        <%= f.text_field :correo , autofocus:true , :class => 'form-control' %> 
      </div>
    </div>
  </div>
</br>
  <div class="col-md-offset-10">
    <div class="actions">
     <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
     
    </div>
  </div>
<% end %>
<div class="separador"></div>