<%= simple_form_for @banco, :validate => true do |f| %>
<div class="row">
	<div class="col-md-4">
		<div class="field">
		  <%= f.input :nombre %>
		  </div>
	</div>
	<div class="col-md-4">
		<div class="field">
		  <%= f.input :direccion %>
		  </div>
	</div>
	<div class="col-md-4">
		<div class="field">
		  <%= f.input :telefono %>
		  
		</div>
	</div>
</div>
</br>
	<div class="col-md-offset-10">
		<div class="actions">
			<% if controller.action_name == 'new' or controller.action_name == 'index' %>
				<%= f.submit "Agregar", :class => 'btn btn-primary'%>
				<%= button_tag "Cancelar", type: :reset , :class => 'btn btn-reset'%>
			<% elsif controller.action_name == 'edit' %>
				<%= f.submit "Actualizar", :class => 'btn btn-primary'%>
			<% end %>
		</div>
	</div>
<% end %>