<% remote ||= false %>
<%= form_for @banco, remote: remote , validate: true do |f| %>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :nombre , class: 'required'  %>
        <%= f.text_field :nombre , autofocus:true , class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :sucursal , class: 'required' %>
        <%= f.text_field :sucursal , class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :direccion , class: 'required' %>
        <%= f.text_field :direccion , autofocus:true , :class => 'form-control' %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <label for="banco_pais_id" class="required">Pais
          <%= link_to new_pais_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :pais_id,
          options_from_collection_for_select(Pais.all, :id, :descripcion, @banco.pais_id),
          {prompt: true}, id: "banco_pais_id", include_blank: true, class: "form-control"%>
      </div>
      <div class="field">
        <label for="banco_departamento_id" class="required">Departamento
          <%= link_to new_departamento_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :departamento_id,
          options_from_collection_for_select(Departamento.all, :id, :descripcion, @banco.departamento_id),
          {prompt: true}, id: "banco_departamento_id", include_blank: true, class: "form-control"%>
      </div>
      <div class="field">
        <label for="banco_ciudad_id" class="required">Ciudad
          <%= link_to new_ciudad_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :ciudad_id,
          options_from_collection_for_select(Ciudad.all, :id, :descripcion, @banco.ciudad_id),
          {prompt: true}, id: "banco_ciudad_id", include_blank: true, class: "form-control"%>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :telefono , class: 'required'%>
        <%= f.text_field :telefono , autofocus:true , :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :correo , class: 'required'%>
        <%= f.text_field :correo , autofocus:true , :class => 'form-control' %>
      </div>
    </div>
  </div>
</br>
  <div class="col-md-offset-10">
    <div class="actions">
     <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
<% end %>
<div id="modal_pais"></div>
<div id="modal_departamento"></div>
<div id="modal_ciudad"></div>
<div class="separador"></div>