$("#modal_banco .modal").modal("hide");
$("#cuenta_bancaria_banco_id").append("<option value='<%= @banco.id %>'><%= @banco.nombre %> - <%= @banco.sucursal %></option>");
$("#cheque_entrante_banco_id").append("<option value='<%= @banco.id %>'><%= @banco.nombre %> - <%= @banco.sucursal %></option>");