<div class="container">
  <h1> Bancos <button type="button" class="btn btn-info btn-outline btn-circle" id="btn1"><span class="glyphicon glyphicon-plus" id="gbtn1"></span></button></h1>
<div id="form-toggle">
  <%= render 'formulario' %>
</div><br>

<table id="table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre del Banco</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Acciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bancos.each do |banco| %>
      <tr>
        <td><%= banco.nombre %></td>
        <td><%= banco.direccion %></td>
        <td><%= banco.telefono %></td>
        <td>
        <%= link_to edit_banco_path(banco), class: 'btn btn-warning btn-outline btn-circle', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to banco, method: :delete, data: { confirm: 'Va eliminarlo, esta seguro?' }, class: 'btn btn-danger btn-outline btn-circle', title: 'Borrar', 'data-toggle' => 'tooltip', 'data-placement' => 'right'  do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>