$("#modal_estado .modal").modal("hide");
$("#caja_estado_id").append("<option value='<%= @estado.id %>'><%= @estado.descripcion %></option>");
$("#chequera_estado_id").append("<option value='<%= @estado.id %>'><%= @estado.descripcion %></option>");
$("#cuenta_bancaria_estado_id").append("<option value='<%= @estado.id %>'><%= @estado.descripcion %></option>");