<%= nested_form_for(@movimiento_de_banco) do |f| %>
<% if @movimiento_de_banco.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@movimiento_de_banco.errors.count, "error") %> prohibited this movimiento_de_banco from being saved:</h2>
    <ul>
    <% @movimiento_de_banco.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :tipo_de_movimiento_id %>
        <%= f.collection_select :tipo_de_movimiento_id, TipoDeMovimiento.all, :id, :descripcion, {prompt: "Seleccione un Tipo de Movimiento"}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= f.label :descripcion %>
        <%= f.text_field :descripcion, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :banco_id %>
        <%= f.collection_select :banco_id, Banco.all, :id, :banco_sucursal, {prompt: "Seleccione un Banco"}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= f.label :fecha %><br>
          <div class="input-group">
            <%= f.text_field :fecha, :class => 'datepicker form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="field">
        <%= f.label :total %>
        <%= f.text_field :total, class: 'form-control', disabled: 'true' %>
      </div>
    </div>

  </div>
  <br>

  <%= f.fields_for :movimientos_de_bancos_detalles do |movimiento_de_banco_detalle| %>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="field">
        <%= movimiento_de_banco_detalle.label :cuenta_bancaria_id %>
        <%= movimiento_de_banco_detalle.collection_select :cuenta_bancaria_id, CuentaBancaria.all, :id, :numero_cuenta, {prompt: "Seleccione una cuenta bancaria"}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="field">
        <%= movimiento_de_banco_detalle.label :monto %>
        <%= movimiento_de_banco_detalle.text_field :monto, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="field">
        <br>
        <%= movimiento_de_banco_detalle.link_to_remove "X", class: 'btn btn-danger', style:'font-weight: bold'%>
      </div>
    </div>
  </div>
  <% end %>
  <td><%= f.link_to_add "Agregar detalle", :movimientos_de_bancos_detalles, :class => 'btn btn-info' %></td>
    <div class="col-md-offset-10">
      <div class="actions">
       <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
        <% if controller.action_name == 'new' or controller.action_name == 'index' %>
          <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        <% elsif controller.action_name == 'edit' %>
          <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="separador"></div>
