<h1>Listing movimientos_de_bancos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo de movimiento</th>
      <th>Banco</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos_de_bancos.each do |movimiento_de_banco| %>
      <tr>
        <td><%= movimiento_de_banco.tipo_de_movimiento.descripcion %></td>
        <td><%= movimiento_de_banco.banco.banco_sucursal %></td>
        <td><%= movimiento_de_banco.descripcion %></td>
        <td><%= link_to 'Show', movimiento_de_banco %></td>
        <td><%= link_to 'Edit', edit_movimiento_de_banco_path(movimiento_de_banco) %></td>
        <td><%= link_to 'Destroy', movimiento_de_banco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimiento de banco', new_movimiento_de_banco_path %>
