<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="field">
          <strong>Tipo de movimiento:</strong>
          <%= @movimiento_de_banco.tipo_de_movimiento.descripcion %>
        </div>
        <div class="field">
          <strong>Banco:</strong>
          <%= @movimiento_de_banco.banco.banco_sucursal %>
        </div>
        <div class="field">
          <strong>Total:</strong>
          <%= @movimiento_de_banco.total %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="field">
          <strong>Descripcion:</strong>
          <%= @movimiento_de_banco.descripcion %>
        </div>
        <div class="field">
          <strong>Fecha:</strong>
          <%= @movimiento_de_banco.fecha %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <%= link_to 'Editar', edit_movimiento_de_banco_path(@movimiento_de_banco), class: 'btn btn-warning' %>
        <%= link_to 'Atras', movimientos_de_bancos_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<table id="table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cuenta bancaria</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos_de_bancos_detalles.each do |movimiento_de_banco_detalle| %>
    <% if @movimiento_de_banco.id == movimiento_de_banco_detalle.movimiento_de_banco_id %>
      <tr>
        <td><%= movimiento_de_banco_detalle.cuenta_bancaria.numero_cuenta %></td>
        <td><%= movimiento_de_banco_detalle.monto %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
