<%= form_for @cuenta_bancaria, validate: true do |f| %>
  <% if @cuenta_bancaria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuenta_bancaria.errors.count, "error") %> prohibited this cuenta_bancaria from being saved:</h2>
      <ul>
      <% @cuenta_bancaria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :banco_id %>
        <%= f.collection_select :banco_id, Banco.all, :id, :banco_sucursal, {prompt: "Seleccione un Banco"}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= f.label :numero_cuenta %>
        <%= f.text_field :numero_cuenta , class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :fecha_apertura %><br>  
          <div class="input-group">           
            <%= f.text_field :fecha_apertura, :class => 'datepicker form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div> 
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :saldo %>
        <%= f.text_field :saldo , class: "form-control", value: '0', :disabled => true%>
      </div>
      <div class="field">
        <%= f.label :estado_id %>
        <%= f.collection_select :estado_id, Estado.all, :id, :descripcion, {prompt: "Seleccione un estado"}, {class: "form-control"} %>
      </div>
    </div>
  </div>

  </br>
  <div class="col-md-offset-10">
    <div class="actions">
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
      <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
    </div>
  </div>
<% end %>