<h1 id="titulo_cuenta_bancaria"> Cuentas Bancarias <button type="button" class="btn btn-info btn-outline btn-circle" id="btn1"><span class="glyphicon glyphicon-chevron-up" id="gbtn1"></span></button></h1>
<div id="form-toggle">
  <%= render 'form' %>
</div>
<br>
<div class="reports" style="margin-left: 90.333333%">
  <%= link_to '#', onclick: "printpage()", class: 'btn btn-print btn-outline btn-circle', title: 'Imprimir reporte', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
    <span class="glyphicon glyphicon-print" style="color: white"></span>
  <% end %>
  <%= link_to cuentas_bancarias_path(@cuentas_bancarias, format: 'pdf'), class: 'btn btn-pdf btn-outline btn-circle', title: 'Exportar en formato PDF', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
    <span style="color: white">PDF</span>
  <% end %>
  <%= link_to cuentas_bancarias_path(:format => :xls), class: 'btn btn-xls btn-outline btn-circle', title: 'Exportar en formato XLS', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
    <span style="color: white">XLS</span>
  <% end %>
</div>
</br>

<table id="table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Banco</th>
      <th>Numero cuenta</th>
      <th>Fecha apertura</th>
      <th>Saldo</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuentas_bancarias.each do |cuenta_bancaria| %>
      <tr>
        <td><%= cuenta_bancaria.banco.banco_sucursal %></td>
        <td><%= cuenta_bancaria.numero_cuenta %></td>
        <td><%= cuenta_bancaria.fecha_apertura %></td>
        <td><%= cuenta_bancaria.saldo %></td>
        <td><%= cuenta_bancaria.estado.descripcion %></td>
        <td>
        <%= link_to edit_cuenta_bancaria_path(cuenta_bancaria), class: 'btn btn-warning btn-outline btn-circle', title: 'Editar', 'remote' => true, 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to cuenta_bancaria, method: :delete, data: { confirm: 'Va eliminarlo, esta seguro?' }, class: 'btn btn-danger btn-outline btn-circle', title: 'Borrar', 'data-toggle' => 'tooltip', 'data-placement' => 'right'  do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- tabla oculta formateada para impresion -->
<div id="tabla_print">
  <h1>Listado de Cuentas Bancarias</h1>
    <table class="table table-striped table-hover" >
      <thead>
        <tr>
          <th>Banco</th>
          <th>Numero cuenta</th>
          <th>Fecha apertura</th>
          <th>Saldo</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
    <% @cuentas_bancarias.each do |cuenta_bancaria| %>
      <tr>
        <td><%= cuenta_bancaria.banco.banco_sucursal %></td>
        <td><%= cuenta_bancaria.numero_cuenta %></td>
        <td><%= cuenta_bancaria.fecha_apertura %></td>
        <td><%= cuenta_bancaria.saldo %></td>
        <td><%= cuenta_bancaria.estado.descripcion %></td>
        <% end %>
      </tbody>
    </table>
</div>