<h1> Log de auditoria </h1>

<div class="reports" style="margin-left: 90.333333%">
    <%= link_to '#', onclick: "printpage()", class: 'btn btn-print btn-outline btn-circle', title: 'Imprimir reporte', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
      <span class="glyphicon glyphicon-print" style="color: white"></span>
    <% end %>
    <%= link_to auditorias_path(@users, format: 'pdf'), class: 'btn btn-pdf btn-outline btn-circle', title: 'Exportar en formato PDF', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
      <span style="color: white">PDF</span>
    <% end %>
    <a download="auditoria.xls" href="#" onclick="return ExcellentExport.excel(this, 'tabla_print', '');", class="btn btn-xls btn-outline btn-circle">XLS</a>
</div>
</br>

<table id="table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Tabla modificada</th>
      <th>Operacion</th>
      <th>Cambios auditados</th>
      <th>Nombre usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |auditoria| %>
      <tr>
        <td><%= auditoria.auditable_type %></td>
        <td><%= auditoria.action %></td>
        <td><%= auditoria.audited_changes %></td>
        <td><%= User.find(auditoria.user_id).username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="tabla_print">
<h1><span><%= image_tag Parametro.last.logo_empresa_url%></span>Log de Auditoria</h1>
  <table class="table table-striped table-hover">
     <thead>
       <tr>
         <th>Tabla modificada</th>
         <th>Operacion</th>
         <th>Cambios auditados</th>
         <th>Nombre usuario</th>
         <th colspan="3"></th>
       </tr>
     </thead>

     <tbody>
       <% @audits.each do |auditoria| %>
         <tr>
           <td><%= auditoria.auditable_type %></td>
           <td><%= auditoria.action %></td>
           <td><%= auditoria.audited_changes %></td>
           <td><%= User.find(auditoria.user_id).username %></td>
         </tr>
       <% end %>
     </tbody>
 </table>
  <div class="separador" style="padding-top: 650px"></div>
  <div>Elaborado por: <%=current_user.username%><span style="padding-left: 300px;">Fecha y Hora: <%= Time.current.to_s%></span></div>
</div>
<br>
