<% remote ||= false %>
<%= form_for @apertura_caja , remote: remote ,  :validate => true do |f| %>
  <% if @apertura_caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apertura_caja.errors.count, "error") %> prohibited this apertura_caja from being saved:</h2>
      <ul>
      <% @apertura_caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <%= f.label :caja_id , class: 'required' %>
      <%= f.text_field :caja_id,  class: 'form-control', id: "caja_input" %>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="field">
      <%= f.label :persona_id, class: 'required' %>
      <%= f.text_field :persona_id, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="field">
        <%= f.label :saldo_inicial_efectivo , class: 'required' %>
        <%= f.text_field :saldo_inicial_efectivo, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
     <div class="field">
        <%= f.label :saldo_inicial_cheque , class: 'required' %>
        <%= f.text_field :saldo_inicial_cheque, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="separador"></div>

  <div class="col-md-offset-9">
    <div class="actions">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      <%= f.submit "Agregar", class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>