<%= nested_form_for(@movimiento_de_caja) do |f| %>
<% if @movimiento_de_caja.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@movimiento_de_caja.errors.count, "error") %> prohibited this movimiento_de_caja from being saved:</h2>
    <ul>
    <% @movimiento_de_caja.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div class="field">
      <br>
    <%= f.collection_radio_buttons :tipo_de_movimiento_id, TipoDeMovimiento.all, :id, :descripcion %>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="field">
      <%= f.label :caja_id %>
      <%= f.collection_select :caja_id, Caja.all, :id, :numero_caja, {prompt: "Seleccione una Caja"}, {class: "form-control"} %>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="field">
      <%= f.label :descripcion %>
      <%= f.text_field :descripcion, class: 'form-control' %>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="field">
      <%= f.label :fecha %><br>
        <div class="input-group">
          <%= f.text_field :fecha, :class => 'datepicker form-control' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
    </div>
  </div>
</div>
<br>
<%= f.fields_for :movimientos_de_cajas_detalles do |movimiento_de_caja_detalle| %>
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="field">
      <label for="movimiento_de_caja_detalle_cheque_entrante_id">Cheque entrante 
        <%= link_to new_cheque_entrante_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </label>
      </br>
      <%= movimiento_de_caja_detalle.collection_select :cheque_entrante_id, ChequeEntrante.all, :id, :numero, {prompt: "Seleccione un Cheque Entrante"}, {class: "form-control"} %>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="field">
      <label for="movimiento_de_caja_detalle_cheque_propio_id">Cheque propio 
        <%= link_to new_cheque_propio_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </label>
      </br>
      <%= movimiento_de_caja_detalle.collection_select :cheque_propio_id, ChequePropio.all, :id, :numero, {prompt: "Seleccione un Cheque propio"}, {class: "form-control"} %>

    </div>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div class="field">
      <%= movimiento_de_caja_detalle.label :monto_cheque %>
      <%= movimiento_de_caja_detalle.text_field :monto_cheque, class: 'form-control' %>
    </div>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div class="field">
      <%= movimiento_de_caja_detalle.label :monto_efectivo %>
      <%= movimiento_de_caja_detalle.text_field :monto_efectivo, class: 'form-control' %>
    </div>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div class="field">
      <br>
      <%= movimiento_de_caja_detalle.link_to_remove "X", class: 'btn btn-danger', style:'font-weight: bold'%>
    </div>
  </div>
</div>
<% end %>

<td><%= f.link_to_add "Agregar detalle", :movimientos_de_cajas_detalles, :class => 'btn btn-info' %></td>

  <div class="col-md-offset-10">
    <div class="actions">
     <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
<% end %>
<div class="separador"></div>
<div id="modal-cheque_entrante"></div>
<div id="modal-cheque_propio"></div>