<%= nested_form_for(@movimiento_de_caja) do |f| %>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="field">
        <br>
        <%= f.collection_radio_buttons :tipo_de_movimiento_id, TipoDeMovimiento.all, :id, :descripcion %>
      </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="display:none">
      <div class="field">
        <%= f.label :caja_id %>
        <%= f.text_field :caja_id , class: 'form-control', :value => @apertura_caja.caja.numero %>
      </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="display:none">
      <div class="field">
        <%= f.label :apertura_id %>
        <%= f.text_field :apertura_id , class: 'form-control', :value => @apertura_caja.id %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="field">
        <%= f.label :descripcion, class: 'required' %>
        <%= f.text_field :descripcion, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="field">
        <%= f.label :fecha %><br>
          <div class="input-group">
            <input id="date_time" class="form-control" disbaled>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-offset-2 col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <%= f.label :monto_total_efectivo %>
          <%= f.text_field :monto_total_efectivo, class: 'form-control' , onchange: 'print_total()' %>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <%= f.label :monto_total_cheque %>
          <%= f.text_field :monto_total_cheque, class: 'form-control', onchange: 'print_total()'  %>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <%= f.label :total %>
          <%= f.text_field :total, class: 'form-control' %>
      </div>
  </div>
  <br>
  <%= f.fields_for :movimientos_de_cajas_detalles do |movimiento_de_caja_detalle| %>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="cheque_entrante">
        <div class="field" >
          <label for="movimiento_de_caja_detalle_cheque_entrante_id">Cheque entrante
            <%= link_to "#modal-cheque", "data-toggle" => "modal" ,  class: 'btn btn-info btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </label>
          </br>
          <%= movimiento_de_caja_detalle.collection_select :cheque_entrante_id, ChequeEntrante.all, :id, :nombre, {prompt: "Seleccione un Cheque Entrante"}, {class: "form-control cheque-entrante auto-select-cheque-entrante"}%>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="cheque_propio">
        <div class="field" >
          <label for="movimiento_de_caja_detalle_cheque_propio_id">Cheque propio
            <%= link_to new_cheque_propio_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </label>
          </br>
          <%= movimiento_de_caja_detalle.collection_select :cheque_propio_id, ChequePropio.all, :id, :nombre, {prompt: "Seleccione un Cheque propio"}, {class: "form-control cheque-propio auto-select"} %>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="monto_cheque">
        <div class="field">
          <%= movimiento_de_caja_detalle.label :monto_cheque %>
          <%= movimiento_de_caja_detalle.text_field :monto_cheque, class: 'form-control precio-cheque'   %>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="monto_efectivo">
        <div class="field">
          <%= movimiento_de_caja_detalle.label :monto_efectivo %>
          <%= movimiento_de_caja_detalle.text_field :monto_efectivo, class: 'form-control precio-efectivo' %>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="field" style= "margin-top: 25px;">
          <%= movimiento_de_caja_detalle.link_to_remove  "<i class='glyphicon glyphicon-remove'></i>".html_safe, class: "btn btn-danger"%>
        </div>
      </div>
    </div>
    </br>
    <% end %>
    <%= f.link_to_add  :movimientos_de_cajas_detalles , class: 'btn btn-info', title: 'Agregar detalle', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
        <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <div class="col-md-offset-10">
      <div class="actions">
       <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
        <% if controller.action_name == 'new' or controller.action_name == 'index' %>
          <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        <% elsif controller.action_name == 'edit' %>
          <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
<% end %>

<div class="separador"></div>
<div id="modal-cheque_entrante"></div>
<div id="modal-cheque_propio"></div>

<div class="modal fade" id="modal-cheque">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Agregando Cheque Entrante</h4>
      </div>
      <div class="modal-body">
        <%= form_for @cheque_entrante, validate: true do |f| %>
          <div class="row">
            <div class="col-md-4">
              <div class="field">
                <label for="cheque_entrante_banco_id" class="required">Banco
                  <%= link_to new_banco_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                  <% end %>
                </label>
                </br>
                <%= f.select :banco_id,
                  options_from_collection_for_select(Banco.all, :id, :banco_sucursal, @cheque_entrante.banco_id),
                  {prompt: true}, id: "cheque_entrante_banco_id", include_blank: true, class: "form-control"%>
              </div>
              <div class="field">
                <%= f.label :numero, class: 'required' %>
                <%= f.text_field :numero , class: "form-control" %>
              </div>
              <div class="field">
                <%= f.label :monto, class: 'required' %>
                <%= f.text_field :monto , class: "form-control" %>
              </div>
            </div>
            <div class="col-md-8">
              <div class="field">
                <%= f.label :concepto, class: 'required' %>
                <%= f.text_field :concepto , class: "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="field">
                <label for="cheque_entrante_persona_id" class="required">Persona
                  <%= link_to new_persona_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                  <% end %>
                </label>
                </br>
                <%= f.select :persona_id,
                  options_from_collection_for_select(Persona.all, :id, :nombre_apellido, @cheque_entrante.persona_id),
                  {prompt: true}, id: "cheque_entrante_persona_id", include_blank: true, class: "form-control"%>
              </div>
              <div class="field">
                <%= f.label :fecha, class: 'required' %><br>
                  <div class="input-group">
                    <%= f.text_field :fecha, :class => 'datepicker form-control' %>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="field" style="display:none">
                <label for="cheque_entrante_estado_id" class="required">Estado
                  <%= link_to new_estado_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                  <% end %>
                </label>
                </br>
                <%= f.select :estado_id,
                  options_from_collection_for_select(Estado.all, :id, :descripcion, 9),
                  {prompt: true}, id: "cheque_entrante_estado_id", include_blank: true, class: "form-control"%>
              </div>
              <div class="field"  style="display:none">
                <%= f.label :caja_id  %>
                <%= f.text_field :caja_id, class: 'form-control',:value => @apertura_caja.caja.numero  %>
              </div>
            </div>
          </div>
          </br>
          <div class="col-md-offset-10">
            <div class="actions">
             <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
              <% if controller.action_name == 'new' or controller.action_name == 'index' %>
                <%= f.submit "Agregar", :class => 'btn btn-primary'%>
              <% elsif controller.action_name == 'edit' %>
                <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
              <% end %>
            </div>
          </div>
        <% end %>
        <div id="modal_banco"></div>
        <div id="modal_persona"></div>
        <div id="modal_estado"></div>
        <div class="separador"></div>

        <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').datetimepicker({
            locale:'es'
          });
        });
        </script>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  window.onload = date_time('date_time');

  $(".auto-select-cheque-entrante").select2({
     placeholder: "Nº de cheque - Banco - MONTO "
  });
  $(".auto-select-propio-entrante").select2({
     placeholder: "Nº de cheque - MONTO "
  });
  var total = 0;
  var fila = 0;
  var i = 0;
  var cheque_entrante_id = document.getElementById('movimiento_de_caja_movimientos_de_cajas_detalles_attributes_0_cheque_entrante_id');
  var cheque_propio_id = document.getElementById('movimiento_de_caja_movimientos_de_cajas_detalles_attributes_0_cheque_propio_id');
  var monto_cheque_id = document.getElementById("movimiento_de_caja_movimientos_de_cajas_detalles_attributes_0_monto_cheque");

  cheque_entrante_id.id = "movimiento_de_caja_detalle_cheque_entrante_id_0";
  cheque_propio_id.id = "movimiento_de_caja_detalle_cheque_propio_id_0";
  monto_cheque_id.id = "monto-cheque_0";

  $('#movimiento_de_caja_monto_total_efectivo').val(0);
  $('#movimiento_de_caja_monto_total_cheque').val(0);
  $('#movimiento_de_caja_total').val(0);

  $('#movimiento_de_caja_detalle_cheque_entrante_id_'+fila+'').change(function() {
    var string = $('#movimiento_de_caja_detalle_cheque_entrante_id_'+fila+' option:selected').text();
    var array = string.split('-');
    $('#monto-cheque_'+fila+'').val(array[2]);
    sumarCheque('#monto-cheque_'+fila+'');
  });
  $('#movimiento_de_caja_detalle_cheque_propio_id_'+fila+'').change(function() {
    var string = $('#movimiento_de_caja_detalle_cheque_propio_id_'+fila+' option:selected').text();
    var array = string.split('-');
    $('#monto-cheque_'+fila+'').val(array[1]);
    sumarCheque('#monto-cheque_'+fila+'');
  });

  sumarEfectivo('.precio-efectivo');

  function print_total(){
    var total_cheque = document.getElementById('movimiento_de_caja_monto_total_cheque').value;
    var total_efectivo = document.getElementById('movimiento_de_caja_monto_total_efectivo').value;

    var monto_total_cheque = parseInt(total_cheque);
    var monto_total_efectivo = parseInt(total_efectivo);

    total = monto_total_efectivo + monto_total_cheque ;

    $('#movimiento_de_caja_total').val(total);
  }

  function sumarCheque(clase){
      var suma = 0;
      $(clase).each(function() {
        if($(this).val()!=""){
          suma += parseFloat($(this).val());
         }
      });
       $('#movimiento_de_caja_monto_total_cheque').val(suma);
       print_total();
  }
  function sumarEfectivo(clase){
    $(clase).change(function () {
      var suma = 0;
      $(clase).each(function() {
        if($(this).val()!=""){
          suma += parseFloat($(this).val());
         }
      });
       $('#movimiento_de_caja_monto_total_efectivo').val(suma);
       print_total();
    });
  }

  function sumar_field_agregado_cheque(tag){
      var suma = 0;
        $('.precio-cheque').each(function() {
            if($(this).val()!=""){
                suma += parseFloat($(this).val());
         }
       $('#movimiento_de_caja_monto_total_cheque').val(suma);
       print_total();
    });
  }
  function sumar_field_agregado_efectivo(tag){
    tag.change(function () {
      var suma = 0;
        $('.precio-efectivo').each(function() {
            if($(this).val()!=""){
                suma += parseFloat($(this).val());
             }
        });
        $('#movimiento_de_caja_monto_total_efectivo').val(suma);
        print_total();
    });
  }

  function sumar_field_borrado_cheque(clase){
    var suma = 0;
    $(clase).each(function() {
      if($(this).val()!=""){
        suma += parseFloat($(this).val());
       }
    });
    $('#movimiento_de_caja_monto_total_cheque').val(suma);
    print_total();
  }
  function sumar_field_borrado_efectivo(clase){
    var suma = 0;
    $(clase).each(function() {
      if($(this).val()!=""){
        suma += parseFloat($(this).val());
        total += suma;
       }
    });
    $('#movimiento_de_caja_monto_total_efectivo').val(suma);
    print_total();
  }

  $(document).on('nested:fieldAdded', function(event){
    $(".auto-select-cheque-entrante").select2({
      placeholder: "Nº de cheque - Banco - MONTO "
    });
    $( ".auto-select" ).select2({
      placeholder: "Por favor selecciona "
    });
    // this field was just inserted into your form
    fila+=1;
    var field = event.field;
    // it's a jQuery object already! Now you can find date input
    var tag1 = field.find('.precio-cheque');
    var tag2 = field.find('.precio-efectivo');

    var id_precio_cheque = document.querySelectorAll('.precio-cheque');
    var id_precio_efectivo = document.querySelectorAll('.precio-efectivo');
    var id_cheque_entrante = document.querySelectorAll('.cheque-entrante');
    var id_cheque_propio = document.querySelectorAll('.cheque-propio');

    // setear id de cada campo agregado
    for (i = 0; i < id_precio_cheque.length; i++)
        id_precio_cheque[i].id = 'monto-cheque_' + i;

    for (i = 0; i < id_precio_efectivo.length; i++)
        id_precio_efectivo[i].id = 'monto-efectivo_' + i;

    for (i = 0; i < id_cheque_entrante.length; i++)
        id_cheque_entrante[i].id = 'movimiento_de_caja_detalle_cheque_entrante_id_' + i;

    for (i = 0; i < id_cheque_propio.length; i++)
        id_cheque_propio[i].id = 'movimiento_de_caja_detalle_cheque_propio_id_' + i;

    $('#movimiento_de_caja_detalle_cheque_entrante_id_'+fila+'').change(function() {
      var string = $('#movimiento_de_caja_detalle_cheque_entrante_id_'+fila+' option:selected').text();
      var array = string.split('-');
      $('#monto-cheque_'+fila+'').val(array[2]);
     sumar_field_agregado_cheque(tag1);
    });
    $('#movimiento_de_caja_detalle_cheque_propio_id_'+fila+'').change(function() {
      var string = $('#movimiento_de_caja_detalle_cheque_propio_id_'+fila+' option:selected').text();
      var array = string.split('-');
      $('#monto-cheque_'+fila+'').val(array[1]);
     sumar_field_agregado_cheque(tag1);
    });

    sumar_field_agregado_cheque(tag1);
    sumar_field_agregado_efectivo(tag2);
    print_total();
  })

  $(document).on('nested:fieldRemoved', function(event){
    // this field was just inserted into your form
    var field = event.field;

    var id_precio_cheque = document.querySelectorAll('.precio-cheque');
    var id_precio_efectivo = document.querySelectorAll('.precio-efectivo');
    var id_cheque_entrante = document.querySelectorAll('.cheque-entrante');
    var id_cheque_propio = document.querySelectorAll('.cheque-propio');

    id_precio_cheque[fila].parentNode.removeChild(id_precio_cheque[fila]);
    id_precio_efectivo[fila].parentNode.removeChild(id_precio_efectivo[fila]);
    id_cheque_entrante[fila].parentNode.removeChild(id_cheque_entrante[fila]);
    id_cheque_propio[fila].parentNode.removeChild(id_cheque_propio[fila]);

    fila-=1;

    sumar_field_borrado_cheque('.precio-cheque');
    sumar_field_borrado_efectivo('.precio-efectivo');

    print_total();
  })
</script>