<%= nested_form_for(@movimiento_de_caja) do |f| %>
  <% if @movimiento_de_caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimiento_de_caja.errors.count, "error") %> prohibited this movimiento_de_caja from being saved:</h2>
      <ul>
      <% @movimiento_de_caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="field">
        <br>
        <%= f.collection_radio_buttons :tipo_de_movimiento_id, TipoDeMovimiento.all, :id, :descripcion %>
      </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <div class="field">
        <%= f.label :caja_id %>
        <%= f.collection_select :caja_id, Caja.all, :id, :numero_caja, {prompt: "Seleccione una Caja"}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="field">
        <%= f.label :descripcion %>
        <%= f.text_field :descripcion, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="field">
        <%= f.label :fecha %><br>
          <div class="input-group">
            <input  id="date_time" class="form-control" disabled>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-offset-2 col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <%= f.label :monto_total_efectivo %>
          <%= f.text_field :monto_total_efectivo, class: 'form-control', disabled: true , onchange: 'print_total()' %>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <%= f.label :monto_total_cheque %>
          <%= f.text_field :monto_total_cheque, class: 'form-control', disabled: true , onchange: 'print_total()'  %>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <%= f.label :total %>
          <%= f.text_field :total, class: 'form-control' , disabled: true %>
      </div>
  </div>

  <br>

  <%= f.fields_for :movimientos_de_cajas_detalles do |movimiento_de_caja_detalle| %>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="cheque_entrante">
      <div class="field" >
        <label for="movimiento_de_caja_detalle_cheque_entrante_id">Cheque entrante 
          <%= link_to new_cheque_entrante_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= movimiento_de_caja_detalle.collection_select :cheque_entrante_id, ChequeEntrante.all, :id, :numero_cheque, {prompt: "Seleccione un Cheque Entrante"}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="cheque_propio">
      <div class="field" >
        <label for="movimiento_de_caja_detalle_cheque_propio_id">Cheque propio 
          <%= link_to new_cheque_propio_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= movimiento_de_caja_detalle.collection_select :cheque_propio_id, ChequePropio.all, :id, :numero_cheque, {prompt: "Seleccione un Cheque propio"}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="monto_cheque">
      <div class="field">
        <%= movimiento_de_caja_detalle.label :monto_cheque %>
        <%= movimiento_de_caja_detalle.text_field :monto_cheque, class: 'form-control precio-cheque ' %>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="monto_efectivo">
      <div class="field">
        <%= movimiento_de_caja_detalle.label :monto_efectivo %>
        <%= movimiento_de_caja_detalle.text_field :monto_efectivo, class: 'form-control precio-efectivo' %>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <br>
        <%= movimiento_de_caja_detalle.link_to_remove  "<i class='glyphicon glyphicon-remove'></i>".html_safe, class: "btn btn-danger"%>
    </div>
  </div>
  <% end %>

  <%= f.link_to_add  :movimientos_de_cajas_detalles , class: 'btn btn-info', title: 'Agregar detalle', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
      <span class="glyphicon glyphicon-plus"></span>
  <% end %>

  <div class="col-md-offset-10">
    <div class="actions">
     <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
    </div>
  </div>

<% end %>

<div class="separador"></div>
<div id="modal-cheque_entrante"></div>
<div id="modal-cheque_propio"></div>

<script type="text/javascript">
  window.onload = date_time('date_time');

 $('#movimiento_de_caja_monto_total_efectivo').val(0);
 $('#movimiento_de_caja_monto_total_cheque').val(0);
  $('#movimiento_de_caja_total').val(0);

  sumarCheque('.precio-cheque');
  sumarEfectivo('.precio-efectivo');

  var total = 0;

  var fila = 0;
  var i = 0;

  function print_total(){
     console.log("print total INICIAL");

       console.log("print total ENTRO");
      var total_cheque = document.getElementById('movimiento_de_caja_monto_total_cheque').value;
      var total_efectivo = document.getElementById('movimiento_de_caja_monto_total_efectivo').value;

      var monto_total_cheque = parseInt(total_cheque);
      var monto_total_efectivo = parseInt(total_efectivo);

      total = monto_total_efectivo + monto_total_cheque ;

      console.log("print total SUMADO");
      $('#movimiento_de_caja_total').val(total);

  }


  function sumarCheque(clase){
    $(clase).change(function () {
      var suma = 0;
      $(clase).each(function() {
        if($(this).val()!=""){
          suma += parseFloat($(this).val());
         }
      });
       $('#movimiento_de_caja_monto_total_cheque').val(suma);
       print_total();
    });
  }
  function sumarEfectivo(clase){
    $(clase).change(function () {
      var suma = 0;
      $(clase).each(function() {
        if($(this).val()!=""){
          suma += parseFloat($(this).val());
         }
      });
       $('#movimiento_de_caja_monto_total_efectivo').val(suma);
       print_total();
    });
  }

  function sumar_field_agregado_cheque(tag){
    tag.change(function () {
      var suma = 0;
        $('.precio-cheque').each(function() {
            if($(this).val()!=""){
                suma += parseFloat($(this).val());
         }
      });
       $('#movimiento_de_caja_monto_total_cheque').val(suma);
       print_total();
    });
  }
  function sumar_field_agregado_efectivo(tag){
    tag.change(function () {
      var suma = 0;
        $('.precio-efectivo').each(function() {
            if($(this).val()!=""){
                suma += parseFloat($(this).val());
             }
        });
        $('#movimiento_de_caja_monto_total_efectivo').val(suma);
        print_total();
    });
  }

  function sumar_field_borrado_cheque(clase){
      var suma = 0;
      $(clase).each(function() {
        if($(this).val()!=""){
          suma += parseFloat($(this).val());
         }
      });
      $('#movimiento_de_caja_monto_total_cheque').val(suma);
      print_total();
  }
  function sumar_field_borrado_efectivo(clase){
      var suma = 0;
      $(clase).each(function() {
        if($(this).val()!=""){
          suma += parseFloat($(this).val());
          total += suma;
         }
      });
       $('#movimiento_de_caja_monto_total_efectivo').val(suma);
       print_total();
  }


  $(document).on('nested:fieldAdded', function(event){
    // this field was just inserted into your form
    fila+=1;
    var field = event.field; 
    // it's a jQuery object already! Now you can find date input
    var tag1 = field.find('.precio-cheque');
    var tag2 = field.find('.precio-efectivo');

    var id_cheque = document.querySelectorAll('.precio-cheque');
    var id_efectivo = document.querySelectorAll('.precio-efectivo');
   
    // Set their ids
    for (i = 0; i < id_cheque.length; i++)
        id_cheque[i].id = 'monto-cheque_' + i;

    for (i = 0; i < id_efectivo.length; i++)
        id_efectivo[i].id = 'monto-efectivo_' + i;

     sumar_field_agregado_cheque(tag1);
     sumar_field_agregado_efectivo(tag2);
     print_total();
  })

  $(document).on('nested:fieldRemoved', function(event){
    // this field was just inserted into your form
    var field = event.field; 
    // it's a jQuery object already! No
    var tag = field.find('.precio-cheque');

    var id_cheque = document.querySelectorAll('.precio-cheque');
    var id_efectivo = document.querySelectorAll('.precio-efectivo');

    id_cheque[fila].parentNode.removeChild(id_cheque[fila]);
    id_efectivo[fila].parentNode.removeChild(id_efectivo[fila]);

    fila-=1;

    sumar_field_borrado_cheque('.precio-cheque');

    sumar_field_borrado_efectivo('.precio-efectivo');
    print_total();

  })
</script>
