<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="field">
          <strong>Tipo de movimiento:</strong>
          <%= @movimiento_de_caja.tipo_de_movimiento.descripcion %>
        </div>
        <div class="field">
          <strong>Caja:</strong>
          <%= @movimiento_de_caja.caja.numero_caja %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="field">
          <strong>Descripcion:</strong>
          <%= @movimiento_de_caja.descripcion %>
        </div>
        <div class="field">
          <strong>Fecha:</strong>
          <%= @movimiento_de_caja.fecha %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="field">
          <%= link_to 'Editar', edit_movimiento_de_caja_path(@movimiento_de_caja), class: 'btn btn-warning' %>
          <%= link_to 'Back', movimientos_de_cajas_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>

<table id="table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Movimiento de caja</th>
      <th>Cheque entrante</th>
      <th>Cheque propio</th>
      <th>Monto efectivo</th>
      <th>Monto cheque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos_de_cajas_detalles.each do |movimiento_de_caja_detalle| %>
    <% if @movimiento_de_caja.id == movimiento_de_caja_detalle.movimiento_de_caja_id %>
      <tr>
        <td><%= movimiento_de_caja_detalle.movimiento_de_caja_id %></td>
        <td><%= movimiento_de_caja_detalle.cheque_entrante_id %></td>
        <td><%= movimiento_de_caja_detalle.cheque_propio_id %></td>
        <td><%= movimiento_de_caja_detalle.monto_efectivo %></td>
        <td><%= movimiento_de_caja_detalle.monto_cheque %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
