<%= simple_form_for @tipo_de_movimiento, :validate => true do |f| %>
<div class="row">
	<div class="col-md-4">
		<div class="field" id="field_descripcion">
		  <%= f.input :descripcion, required: true, autofocus: true %>
		  </div>
	</div>
	
</div>
</br>
	<div class="col-md-offset-10">
		<div class="actions">
			<% if controller.action_name == 'new' or controller.action_name == 'index' %>
				<%= f.submit "Agregar", :class => 'btn btn-primary'%>
				
			<% elsif controller.action_name == 'edit' %>
				<%= f.submit "Actualizar", :class => 'btn btn-primary'%>
			<% end %>
			<%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
		</div>
	</div>
<% end %>