<h1>Listing tipos_de_movimientos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipos_de_movimientos.each do |tipo_de_movimiento| %>
      <tr>
        <td><%= tipo_de_movimiento.descripcion %></td>
        <td><%= link_to 'Show', tipo_de_movimiento %></td>
        <td><%= link_to 'Edit', edit_tipo_de_movimiento_path(tipo_de_movimiento) %></td>
        <td><%= link_to 'Destroy', tipo_de_movimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo de movimiento', new_tipo_de_movimiento_path %>
