  <ul class="nav nav-sidebar">
    <li class="<%= 'active' if params[:controller] == 'cajas' %>"> <a href="/cajas">Caja</a> </li>
    <li class="<%= 'active' if params[:controller] == 'bancos' %>"> <a href="/bancos">Banco</a> </li>
     <li class="<%= 'active' if params[:controller] == 'boletas_de_depositos' %>"> <a href="/boletas_de_depositos">Boletas de Depositos</a> </li>
    <li class="<%= 'active' if params[:controller] == 'movimientos_de_cajas' %>"> <a href="/movimientos_de_cajas">Movimiento de caja</a> </li>
    <li class="<%= 'active' if params[:controller] == 'movimientos_de_bancos' %>"> <a href="/movimientos_de_bancos">Movimiento de banco</a> </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="<%= 'active' if params[:controller] == 'cuentas_bancaria' %>"> <a href="/cuentas_bancaria">Cuenta Bancaria</a> </li>
    <li class="<%= 'active' if params[:controller] == 'cuentas_corrientes_venta' %>"> <a href="/cuentas_corrientes_venta">Cuenta Corriente</a> </li>
    <li class="<%= 'active' if params[:controller] == 'cheques_emitidos' %>"> <a href="/cheques_emitidos">Cheques Emitidos</a> </li>
    <li class="<%= 'active' if params[:controller] == 'cheques_entrantes' %>"> <a href="/cheques_entrantes">Cheques Entrantes</a> </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="<%= 'active' if params[:controller] == 'personas' %>"> <a href="/personas">Personas</a> </li>
    <li class="<%= 'active' if params[:controller] == 'tipos_de_estados' %>"> <a href="/tipos_de_estados">Tipos de Estados</a> </li>
    <li class="<%= 'active' if params[:controller] == 'tipos_de_movimientos' %>"> <a href="/tipos_de_movimientos">Tipos de Movimientos</a> </li>
    <li class="<%= 'active' if params[:controller] == 'tipos_de_personas' %>"> <a href="/tipos_de_personas">Tipos de Personas</a> </li>
  </ul>
   <ul class="nav nav-sidebar">
    <li class="<%= 'active' if params[:controller] == 'user' %>"> <a href="/users">Usuarios</a> </li>
    <li class="<%= 'active' if params[:controller] == 'log_audits' %>"> <a href="/log_audits">Log de auditoria</a> </li>
  </ul>
</div>

