<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="/"><i class="glyphicon glyphicon-dashboard"></i><span>Dashboard</span></a></li>
        <li class="<%= 'active' if params[:controller] == 'cajas' %>"><a href="/cajas"><i class="glyphicon glyphicon-usd"></i><span>Caja</span></a> </li>
        <li class="<%= 'active' if params[:controller] == 'bancos' %>"><a href="/bancos"><i class="glyphicon glyphicon-piggy-bank"></i><span>Banco</span></a> </li>
        <li id="movimientos" class="dropdown subnavbar-open-right">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-transfer"></i><span>Movimientos</span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:controller] == 'movimientos_de_cajas' %>"> <a href="/movimientos_de_cajas">Movimiento de caja</a> </li>
            <li class="<%= 'active' if params[:controller] == 'movimientos_de_bancos' %>"> <a href="/movimientos_de_bancos">Movimiento de banco</a> </li>
          </ul>
        </li>
        <li id="cuentas" class="dropdown subnavbar-open-right">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i><span>Cuentas</span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:controller] == 'cuentas_bancarias' %>"> <a href="/cuentas_bancarias">Cuentas Bancarias</a> </li>
            <li class="<%= 'active' if params[:controller] == 'cuentas_corrientes_venta' %>"> <a href="/cuentas_corrientes_venta">Cuenta Corriente</a> </li>          </ul>
        </li>
        <li class="<%= 'active' if params[:controller] == 'boletas_de_depositos' %>"> <a href="/boletas_de_depositos"> <i class="glyphicon glyphicon-file"></i><span>Boletas de Depositos</span></a> </li>
        <li id="cheques" class="dropdown subnavbar-open-right">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-credit-card"></i><span>Cheques</span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:controller] == 'cheques_propios' %>"> <a href="/cheques_propios">Cheques Propios</a> </li>
            <li class="<%= 'active' if params[:controller] == 'cheques_entrantes' %>"> <a href="/cheques_entrantes">Cheques Entrantes</a> </li>
          </ul>
        </li>
        <li id="tipos" class="dropdown subnavbar-open-right">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags"></i><span>Tipos</span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:controller] == 'estados' %>"> <a href="/estados">Estados</a> </li>
            <li class="<%= 'active' if params[:controller] == 'tipos_de_movimientos' %>"> <a href="/tipos_de_movimientos">Tipos de Movimientos</a> </li>
            <li class="<%= 'active' if params[:controller] == 'tipos_de_personas' %>"> <a href="/tipos_de_personas">Tipos de Personas</a> </li>
          </ul>
        </li>
        <li class="<%= 'active' if params[:controller] == 'personas' %>"><a href="/personas"><i class="glyphicon glyphicon-user"></i><span>Personas</span></a> </li>
        <li class="<%= 'active' if params[:controller] == 'user' %>"> <a href="/users"><i class="glyphicon glyphicon-user"></i><span>Usuarios</span></a> </li>
        <li class="<%= 'active' if params[:controller] == 'auditorias' %>"> <a href="/auditorias"><i class="glyphicon glyphicon-eye-open"></i><span>Auditoria</span></a> </li>
      </ul>
    </div> <!-- /container -->
  </div> <!-- /subnavbar-inner -->
</div><!-- subnavbar -->
