<!DOCTYPE html>
<html>
<head>
  <title>Sistema</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,700,600,300,300italic' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body style="color: #FFFFFF; background-color: #011826;">

<div class="container">

  <div class="form-signin">
    <div class="well">
    <%= image_tag("widefar_2.png", :alt => "logo") %>
      <h2 class="form-signin-heading">Iniciar Sesión</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.text_field :username, autofocus: true , class:"form-control", placeholder:"Nombre de usuario" %>
          <%= f.password_field :password, autocomplete: "off" , class:"form-control", placeholder:"Contraseña" %>
          <div><%= f.submit "Acceder", :class=>"btn btn-lg btn-primary btn-block" %></div>
        <% end %>
    </div>
  </div>
</div>

</body>
<style>
  img{
    max-width: 230px;
    margin-left: 35px;
  }
  .well{
    border-radius: 0px;
  }
  h2{
    color: #555657;
  }
</style>
</html>