<%= form_for @firmante, validate: true do |f| %>
  <% if @firmante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@firmante.errors.count, "error") %> prohibited this firmante from being saved:</h2>
      <ul>
      <% @firmante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
		<div class="col-md-4">
			<div class="field">
		        <%= f.label :cuenta_bancaria %>
		        <%= f.collection_select :cuenta_bancaria, CuentaBancaria.all, :id, :numero_cuenta, {prompt: "Seleccione una cuenta bancaria"}, {class: "form-control"} %>
      		</div>
    	</div>
		<div class="col-md-4">
			<div class="field">
        		<%= f.label :persona_id %>
        		<%= f.collection_select :persona_id, Persona.all, :id, :nombre_apellido, {prompt: "Seleccione una persona"}, {class: "form-control"} %>
      		</div>
		</div>
	</div>
	</br>

	<div class="col-md-offset-10">
		<div class="actions">
			<% if controller.action_name == 'new' or controller.action_name == 'index' %>
				<%= f.submit "Agregar", class: 'btn btn-primary'%>
					
			<% elsif controller.action_name == 'edit' %>
					<%= f.submit "Actualizar", class: 'btn btn-primary'%>
			<% end %>
			<%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar', class: 'btn btn-reset'%>
		</div>
	</div>

<% end %>