<%= form_for @firmante, validate: true do |f| %>
  <% if @firmante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@firmante.errors.count, "error") %> prohibited this firmante from being saved:</h2>
      <ul>
      <% @firmante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row">
		<div class="col-md-4">
		  <div class="field">
        <label for="departamento_cuenta_bancaria_id" class="required">Cuenta Bancaria 
          <%= link_to new_cuenta_bancaria_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :cuenta_bancaria_id, 
          options_from_collection_for_select(CuentaBancaria.all, :id, :nombre, @firmante.cuenta_bancaria_id),
          {prompt: true}, id: "firmante_cuenta_bancaria_id", include_blank: true, class: "form-control"%>
    </div>
		  <div class="field">
        <label for="firmante_persona_id" class="required">Persona 
          <%= link_to new_persona_path , remote: true , class: 'btn btn-info btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label>
        </br>
        <%= f.select :persona_id, 
          options_from_collection_for_select(Persona.all, :id, :nombre, @firmante.persona_id),
          {prompt: true}, id: "firmante_persona_id", include_blank: true, class: "form-control"%>
    </div>
	</div>
	</div>
	</br>
  <div class="col-md-offset-10">
    <div class="actions">
     <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'btn btn-primary'%>
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
<% end %>
<div class="separador"></div>
<div id="modal_cuenta_bancaria"></div>
<div id="modal_persona"></div>