<h1 id="titulo_firmante"> Firmantes <button type="button" class="btn btn-info btn-outline btn-circle" id="btn1"><span class="glyphicon glyphicon-chevron-up" id="gbtn1"></span></button></h1>
<div id="form-toggle">
  <%= render 'form' %>
</div>
<br>
<div class="reports" style="margin-left: 90.333333%">
  <%= link_to '#', onclick: "printpage()", class: 'btn btn-print btn-outline btn-circle', title: 'Imprimir reporte', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
    <span class="glyphicon glyphicon-print" style="color: white"></span>
  <% end %>
  <%= link_to firmantes_path(@firmantes, format: 'pdf'), class: 'btn btn-pdf btn-outline btn-circle', title: 'Exportar en formato PDF', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
    <span style="color: white">PDF</span>
  <% end %>
  <%= link_to firmantes_path(:format => :xls), class: 'btn btn-xls btn-outline btn-circle', title: 'Exportar en formato XLS', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
    <span style="color: white">XLS</span>
  <% end %>
</div>
</br>
<table id="table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cuenta bancaria</th>
      <th>Persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firmantes.each do |firmante| %>
      <tr>
        <td><%= firmante.cuenta_bancaria %></td>
        <td><%= firmante.persona.nombre_apellido %></td>
        <td>
        <%= link_to edit_firmante_path(firmante), class: 'btn btn-warning btn-outline btn-circle', title: 'Editar', 'remote' => true, 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to firmante, method: :delete, data: { confirm: 'Va eliminarlo, esta seguro?' }, class: 'btn btn-danger btn-outline btn-circle', title: 'Borrar', 'data-toggle' => 'tooltip', 'data-placement' => 'right'  do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- tabla oculta formateada para impresion -->
<div id="tabla_print">
  <h1>Listado de Firmantes</h1>
    <table class="table table-striped table-hover" >
      <thead>
    <tr>
      <th>Cuenta bancaria</th>
      <th>Persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firmantes.each do |firmante| %>
      <tr>
        <td><%= firmante.cuenta_bancaria %></td>
        <td><%= firmante.persona.nombre_apellido %></td>
        <% end %>
      </tbody>
    </table>
</div>