$("#modal_pais .modal").modal("hide");
$("#departamento_pais_id").append("<option value='<%= @pais.id %>'><%= @pais.descripcion %></option>");
$("#banco_pais_id").append("<option value='<%= @pais.id %>'><%= @pais.descripcion %></option>");
$("#persona_pais_id").append("<option value='<%= @pais.id %>'><%= @pais.descripcion %></option>");