<%= form_for @parametro, :html => {:multipart => true} do |f| %>
<% if @parametro.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@parametro.errors.count, "error") %> prohibited this parametro from being saved:</h2>

    <ul>
    <% @parametro.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <%= f.label :nombre_empresa %>
    <%= f.text_field :nombre_empresa, class:"form-control" %>
  </div>
  <div class="col-sm-6 col-md-4">
    <label for="">Logo de la Empresa</label><br>
    <%= f.file_field :logo_empresa, class:"form-control" %>
  </div>
</div>

  <div class="col-md-offset-10">
    <div class="actions">
    <%= link_to 'Cancelar', parametros_path , class: 'btn btn-reset'%>
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", class: 'btn btn-primary'%>
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", class: 'btn btn-primary'%>
      <% end %>
    </div>
<% end %>