<h1 id="titulo_caja"> Seleccione una Caja</h1>
<div id="cajas">
  <div class="row">
    <% @cajas.each do |caja| %>
    <div class="col-md-3 col-sm-6">
      <%= link_to new_apertura_caja_path , remote: true , class: 'btn bg-green grow widget widget-stats' do %>
        <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></i></div>
        <div class="stats-title">Caja <%= caja.numero %></div>
        <div class="stats-desc" style="font-size:15px;"><%= caja.estado.descripcion %></div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<!-- tabla oculta formateada para impresion -->
<div id="tabla_print">
  <h1>Listado de Cajas</h1>
    <table class="table table-striped table-hover" >
      <thead>
        <tr>
          <td>Numero</td>
          <th>Estado</th>
        </tr>
  </thead>
  <tbody>
    <% @cajas.each do |caja| %>
      <tr>
        <td><%= caja.numero %></td>
        <td><%= caja.estado.descripcion %></td>
        <% end %>
      </tbody>
    </table>
</div>

<div id="modal_apertura_caja"></div>