<p id="notice"><%= notice %></p>

<p>
  <strong>Apertura:</strong>
  <%= @caja.apertura %>
</p>

<p>
  <strong>Cierre:</strong>
  <%= @caja.cierre %>
</p>

<p>
  <strong>Saldo inicial efectivo:</strong>
  <%= @caja.saldo_inicial_efectivo %>
</p>

<p>
  <strong>Saldo inicial cheque:</strong>
  <%= @caja.saldo_inicial_cheque %>
</p>

<p>
  <strong>Saldo final efectivo:</strong>
  <%= @caja.saldo_final_efectivo %>
</p>

<p>
  <strong>Saldo final cheque:</strong>
  <%= @caja.saldo_final_cheque %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @caja.estado %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @caja.persona %>
</p>

<%= link_to 'Edit', edit_caja_path(@caja) %> |
<%= link_to 'Back', cajas_path %>
