<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @caja.numero %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @caja.estado %>
</p>


<%= link_to 'Edit', edit_caja_path(@caja) %> |
<%= link_to 'Back', cajas_path %>
